@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-v13-cyrillic_latin-regular.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-v13-cyrillic_latin-900.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  line-height: 120%;
  color: #292d32;
  background-color: #fff;
}


img,
svg {
  display: block;
  max-width: 100%;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1320px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  padding-top: 34px;
  padding-bottom: 24px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 240px;
}

.header__link-favorite {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.header__icon {
  width: 20px;
  height: 20px;
}

.hero {
  margin-bottom: 32px;
  padding-top: 60px;
  padding-bottom: 80px;
  background: #ff6a00 url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__link-favorite {
  position: absolute;
  right: 0;
  top: -36px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #FFF;
}

.hero__icon {
  width: 20px;
  height: 20px;
}

.hero__logo {
  margin-bottom: 80px;
  width: 240px;
  height: 32px;
}

.hero__title {
  margin-bottom: 40px;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: #FFF;
}

.hero__tagline {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #FFF;
}

/* .search {
}

.search__container {
} */

.search__form {
  position: relative;
  width: 100%;

}

.search__input {
  padding: 10px 124px 10px 24px;
  width: 100%;
  outline: none;
  border-radius: 40px;
  border: 1px solid #fb9953;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #292D32;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  height: 40px;
  border-radius: 40px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #FFF;
  background: #FF6A00;
}

.search__icon {
  width: 20px;
  height: 20px;
}

.video-list {
  padding-top: 80px;
  padding-bottom: 80px;
}

.video-list__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: #292D32;
}

.video-list__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 12px;
}

.video-card {
  position: relative;
}

.video-card__thumbnail {
  margin-bottom: 12px;
  border-radius: 16px;
}

.video-card__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
}

.video-card__channel {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.video-card__duration {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.video-card__favorite {
  position: absolute;
  top: 12px;
  right: 12px;
}

.video-card__favorite .star {
  display: none;
}

.video-card__favorite--active .star {
  display: block;
}

.video-card__icon {
  width: 20px;
  height: 20px;
}

.video {
  padding-top: 80px;
}

.video__player {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.video__content {
  position: relative;
}

.video__title {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.video__channel {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.video__info {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.video__descr {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.video__link {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #151515;
}

.video__link .video__add{
  display: block;
}

.video__link .video__favored {
  display: none;
}

.video__link .star {
  display: none;
}

.video__link--active .star {
  display: block;
}

.video__link--active .star-o {
  display: none;
}

.video__link--active .video__add {
  display: none;
}

.video__link--active .video__favored {
  display: block;
}

.video__icon {
  width: 20px;
  height: 20px;
}

.footer {
  padding-top: 41px;
  padding-bottom: 41px;
  background: #ff6a00 url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 360px;
  height: 48px;
}
.footer__developers {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 16px;
}

.footer__developers-item {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #FFF;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #FFF;
}
